<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/components/node_modules/normalize.css/normalize.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--main js-->
    <script src="/components/vendor/jquery/dist/jquery.js"></script>
    <script src="/components/vendor/react/react-with-addons.js"></script>
    <script src="/components/vendor/require.js/require.js"></script>
    <script src="/components/components/componentsPage/requirejs_config.js"></script>

    <link rel="stylesheet" href="/components/components/componentsPage/style.css"/>




    <title>Компоненты МЗР</title>
</head>
<body>

<section id="mainPlace">inner</section>

<script src="/components/components/componentsPage/components.js"></script>

</body>
</html>