.MeasuringTable {
  /* Описание переменной */
  /* Размер шрифта шапки таблицы*/
}
.MeasuringTable_BlockName {
  color: #008000;
}
.MeasuringTable_BlockName__elementName {
  color: #008000;
}
.MeasuringTable_BlockName-modificator-big {
  font-size: 15px;
}
